Repository robbymilo/backcountrydata.com: changes, and which Drone steps are due for each by the changed paths.
All: api, frontend

.drone.yml:

---
kind: pipeline
type: docker
name: api

platform:
  os: linux
  arch: amd64

steps:
  - name: build_push_image
    image: plugins/docker
    settings:
      username:
        from_secret: docker_username
      password:
        from_secret: docker_password
      repo: robbymilo/backcountrydata
      dockerfile: api/Dockerfile
      tags:
        - ${DRONE_COMMIT_SHA:0:7}
        - latest

trigger:
  event:
  - push
  branch:
  - master
  paths:
    include:
      - api/**

---
kind: pipeline
type: docker
name: frontend

platform:
  os: linux
  arch: amd64

steps:
  - name: build-container
    image: docker
    volumes:
    - name: dockersock
      path: /var/run/docker.sock
    commands:
    - docker build . -t backcountrydata-frontend:latest

  - name: build_frontend
    image: backcountrydata-frontend:latest
    pull: if-not-exists
    environment:
      TOKEN:
        from_secret: netlify_auth_token
    commands:
      - make build-frontend

  - name: deploy_production_frontend
    image: backcountrydata-frontend:latest
    pull: if-not-exists
    when:
      branch:
        include:
          - master
    environment:
      TOKEN:
        from_secret: netlify_auth_token
    commands:
      - netlify deploy --dir frontend/dist --site c227ef54-b0f6-434b-9c19-7db3ff8e416c --auth $TOKEN --prod

  - name: deploy_staging_frontend
    image: backcountrydata-frontend:latest
    pull: if-not-exists
    when:
      branch:
        exclude:
          - master
    environment:
      TOKEN:
        from_secret: netlify_auth_token
    commands:
      - netlify deploy --dir frontend/dist --site c227ef54-b0f6-434b-9c19-7db3ff8e416c --auth $TOKEN --alias ${DRONE_BRANCH}

trigger:
  event:
  - push
  paths:
    include:
      - frontend/**

volumes:
- name: dockersock
  host:
    path: /var/run/docker.sock

trigger drone
  api/Dockerfile
Due: api

cleanup frontend deps
  .drone.yml
  Dockerfile
  Makefile
  frontend/package-lock.json
  frontend/package.json
Due: frontend

frontend improvements
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/station/forecast.vue
  frontend/src/router.js
  frontend/src/views/Home.vue
  frontend/src/views/List.vue
  frontend/src/views/Station.vue
Due: frontend

improve avy rating, fix discussion
  api/data/static/avy-center-example.json
  api/models/forecast.js
  frontend/src/components/list/table-detail.vue
  frontend/src/components/station/avy.vue
  frontend/src/components/station/forecast.vue
Due: api, frontend

add build header
  .drone.yml
  api/Dockerfile
  api/app.js
Due: api

add build header
  .drone.yml
Due: none

add build header
  api/Dockerfile
Due: api

check for header
  api/app.js
Due: api

update avy lookup
  api/data/static/avy-center-points.json
Due: api

add status route
  api/app.js
  api/controllers/index.js
  api/controllers/state.js
  api/controllers/status.js
  api/routes/api.js
Due: api

add status message
  frontend/src/App.vue
  frontend/src/components/status.vue
Due: frontend

move assets
  api/controllers/avy_center.js
  api/controllers/station_detail.js
  api/controllers/station_nearest.js
  api/functions/functions.js
  api/geo.js
  api/models/data.js
  api/models/forecast.js
  api/models/location.js
  api/static/avy-center-example.json
  api/static/avy-center-points.json
  api/static/station-master.csv
  api/static/station-master.json
  api/static/station-search2.json
Due: api

move assets
  api/controllers/avy_center.js
  api/controllers/station_detail.js
  api/controllers/station_nearest.js
  api/data/avy/.gitignore
  api/data/avy/978.json
  api/data/avy/master.json
  api/data/day/.gitignore
  api/data/day/978.json
  api/data/forecast/.gitignore
  api/data/forecast/978.json
  api/data/hour/.gitignore
  api/data/hour/978.json
  api/data/state/.gitignore
  api/data/state/NM.json
  api/functions/csv.js
  api/functions/functions.js
  api/geo.js
  api/models/data.js
  api/models/forecast.js
  api/models/location.js
  api/static/avy-center-example.json
  api/static/avy-center-points.json
  api/static/station-master.csv
  api/static/station-master.json
  api/static/station-search2.json
Due: api

update deployment
  .drone.yml
Due: none

update drone, trigger build
  .drone.yml
  api/Dockerfile
Due: api

fix tag
  .drone.yml
Due: none

increase cache time to 15min
  api/functions/functions.js
Due: api

add 502 for upstreams
  api/.gitignore
  api/controllers/avy_center.js
  api/models/forecast.js
Due: api

hot fix for air temp
  api/data/avy/master.json
  api/data/day/978.json
  api/data/forecast/978.json
  api/data/hour/978.json
  api/functions/functions.js
  frontend/src/mixins/functions.js
Due: api, frontend

cleanup
  api/.gitignore
  api/data/avy/978.json
  api/data/avy/master.json
  api/data/forecast/978.json
  api/data/hour/978.json
Due: api

fix temp
  frontend/src/mixins/functions.js
Due: frontend

fix avy due to avalanche.org API changes
  api/geo.js
  api/static/avy-center-example.json
  api/static/avy-center-points.json
Due: api

fix errors due to NWS API change
  api/models/forecast.js
  api/package-lock.json
  api/package.json
Due: api

fix routing
  api/routes/api.js
Due: api

cut CSV at header instead of fixed line
  api/functions/csv.js
Due: api
